.artists
  &__list
    @extend .list
    &__item
      @extend .list__item
      min-height 56px
      padding-left 66px
      &__name
        display block
        margin-bottom 3px
        font-weight 700

      &__picture
        width  56px
        height 56px

        background #000

        position absolute

        top  0
        left 0

        img
          max-width  100%
          max-height 100%


.artist
  &__styles,
  &__skills
    float left
    width 50%

    &--list
      float none
      width auto
      font-size 16px

    &__title
      display block
      text-transform uppercase
      font-weight 700
      font-size 13px
      margin-bottom 5px

    &--list
      .artist__skills,
      .artist__styles
        &__title
          font-weight 700
          display inline-block
          font-size 12px
          margin-right 9px


.artist__header
  background darken(#f4ca78, 10%)
  &__container
    position relative
    min-height 190px
    padding 15px 0 15px 180px
    @extend .container

  &__picture
    position absolute

    top  15px
    left 0

    width  160px
    height 160px

    overflow hidden

    img
      max-width  100%
      max-height 100%