.menu
  position fixed

  top  0
  left 0

  z-index 10

  width  220px
  height 100%
  background #f4ca78
  transition opacity 200ms, transform 200ms
  padding 100px 0 0 0

  box-shadow 0 0 2px rgba(0, 0, 0, 0.35)
  opacity 0
  transform translateZ(0) translateX(-100%)

  &._is-open
    opacity 1
    transform translateZ(0) translateX(0)

  &__item
    display block
    font-weight 700
    padding 12px 25px
    position relative

    &:after
      content " "
      display block
      width 24px
      height 3px
      background #000
      position absolute
      bottom 0

    &:hover
      &:after
        width 80px