body {
  font-family Helvetica Neue, Helvetica, Arial
  font-size 16px
  color #222
}

a {
  text-decoration none
  color inherit
}

.skill {
  display inline-block
  background #000000
  color #eee
  padding 5px 7px
  font-size 14px
  margin-left 5px
  &:first-child {
    margin-left 0
  }
}