@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,700,900);

$fa-font-path = 'fonts'
@require "./../../node_modules/font-awesome-stylus/stylus/font-awesome.styl";

*
  box-sizing border-box

body
  font-family 'Raleway', sans-serif
  font-weight 400
  font-size 18px
  background #f4ca78
  color #000
  margin 0
  padding-top 100px

.container
  width 500px
  margin-right auto
  margin-left  auto

a
  text-decoration none
  color inherit

.header
  padding 10px 0

  &__brand
    z-index 2000
    position fixed
    top 35px
    right 40px
    font-weight 900
    font-size 32px
    text-transform uppercase

  &__menu
    z-index 2000
    position fixed
    top 35px
    left 40px
    font-size 32px
    cursor pointer

    .fa
      position absolute
      top  0
      left 0
      transition opacity 200ms

    .fa-close
      opacity 0
    .fa-bars
      opacity 1

    &._is-open
      .fa-close
        opacity 1
      .fa-bars
        opacity 0

.top-nav
  background #000
  color #ffc815
  &__item
    display inline-block
    padding 9px 0
    margin-left 15px
    text-transform uppercase
    &:first-child
      margin-left 0
    &.active
      color #FFF

.page-title
  border-bottom 1px solid #000
  margin 10px 0
  padding 0 0 10px 0
  font-weight 900
  position relative
  &__action
    width  26px
    height 26px
    text-align center
    line-height 26px
    color #f4ca78
    background #000
    position absolute
    top   5px
    right 0
    font-size 12px
    font-weight 400
    border-radius 13px
    &:hover
      color #000000
      background transparent

.breadcrumbs
  font-size 14px
  margin-bottom 10px

.pager
  margin 15px 0
  //border-top 1px solid #000
  position relative
  text-align center
  line-height 26px

  &__prev,
  &__next
    position absolute
    cursor pointer
    &:hover
      .pager__icon
        color #000
        background transparent

  &__prev
    left 0

  &__next
    right 0

  &__label
    font-size 14px
    &--prev
      margin-left 7px
    &--next
      margin-right 7px

  &__icon
    display inline-block
    width  26px
    height 26px
    text-align center
    border-radius 50%
    background #000
    color #f4ca78

.skill
  display inline-block
  background #000000
  color #f4ca78
  padding 5px 7px
  font-size 14px
  margin-left 5px
  //border-radius 2px
  &:first-child
    margin-left 0

.similar-artist
  display inline-block
  margin-left 9px
  &:first-of-type
    margin-left 0

.similar-artists
  margin-top 20px
  &__title
    font-size 18px
    padding 0 0 10px 0
    margin 0 0 10px 0
    border-bottom 1px solid #000

.artist__masters
  margin-top 20px
  &__title
    font-size 18px
    padding 0 0 10px 0
    margin 0 0 10px 0
    border-bottom 1px solid #000

.artist__groups
  margin-top 20px
  &__title
    font-size 18px
    padding 0 0 10px 0
    margin 0 0 10px 0
    border-bottom 1px solid #000

.master
  &__artist
    font-weight 700

  &__tracks
    margin-top 20px
    &__title
      font-size 18px
      padding 0 0 10px 0
      margin 0 0 10px 0
      border-bottom 1px solid #000
    &__table
      width 100%

  &__releases
    margin-top 20px
    &__title
      font-size 18px
      padding 0 0 10px 0
      margin 0 0 10px 0
      border-bottom 1px solid #000
    &__table
      width 100%

.form
  &__control
    font-family 'Raleway', sans-serif
    font-weight 500
    font-size 16px
    padding 9px 12px
    border none
    //border 1px solid #e3b972
    background #ffefc8

.master__year
  font-weight 300
  position absolute
  top   0
  right 0

@require "lists.styl"
@require "artists.styl"
@require "menu.styl"